.row
  .col-md-12
    %h2
      Philosophy

.row
  .col-md-5
    %ul.goals
      %li.streamline streamline
      %li.simplify simplify

  .col-md-7
    %blockquote
      My designs are inspired by nature. Working with green, sustainable materials is always a priority. Products in harmony.

.row
  .col-md-12
    = image_tag "house-rock.jpg", class: "img-responsive", alt: "Neil Baxter at House Rock Rapid, Grand Canyon"
