.row
  .col-md-12
    %h2
      Sports Design

.row
  .col-md-6
    = image_tag "surf.jpg", class: "img-responsive", alt: "Neil Baxter Surfing"

  .col-md-6
    %blockquote
      Some of my designs<sup>*</sup> have changed the face of sport.
      Working with composites and natural materials, my passion for nature fuels my work.

    %p
      <sup>*</sup>
      For example, I designed the paddles used by Italy's Daniele Molmenti when he won the Gold Medal in K1M Canoe Slalom, London Olympics 2012 (#{link_to "video", "https://www.youtube.com/watch?v=gqdZs-Zv6zE"}).


